@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  color: white;
  background-color: blue;
  font-family: 'Roboto', sans-serif;

}
li.category-item {
  border: solid pink 2px;
  width: 800px;
  display: inline-block;
  margin-left: 10px;
  p {
    margin-left: 20px;
    margin-right: 20px;
  }
  button {
    font-size: 10px;
    border: black solid 2px;
  }
}


li.expense-item {
  display: inline-flex;
}